<button {{action 'up' }} class="voting" >up</button>{{idea.title}}  <br>
<span class="voting">{{idea.count}}</span>{{idea.body}}<br>
<button {{action 'down' }} class="voting">down</button> <br><br>
  
